*{
  padding:0;
  margin:0;
}

header{
  height: 100px;
  color: #2D6963;
  text-align: center;
  }

[class*=col-]{
  padding-bottom: 0;
  height: 50px;
  vertical-align: center;
}


h1{
  font-family: 'Courgette', cursive;
  font-weight: lighter;
}

nav{
    vertical-align: middle;
}

nav a{
  text-decoration: none;
  color: inherit;
  padding-right: 15%;
  font-size: 2vh;
}

.manifesto{
  background-image: url("Images/JAN_2516.jpg");
  height: 520px;
  background-position: 50% 70%;
  background-size: cover;
}

.mainphoto{
  background-image: url("Images/JAN_2479.jpg");
  height: 520px;
  background-position: 50% 80%;
  background-size: cover;
}

main{
  height: 50vh;
  padding: 3% 3%;
}

.photo2{
  background-image: url("Images/aboutme.jpg");
  height: 45vh;
  background-position: 50% 10%;
  background-size: cover;
  background-repeat: no-repeat;
}

.me, .contact{
  padding-left: 3%;
}

p{
  font-size: 2vh;
  line-height: 3.5vh;
  text-align: justify;
}

h2{
  color: #51A881;
  padding-bottom: 1vh;
}

.reviewcontact{
  height: 70vh;
  padding: 3% 3%;
}

iframe{
  height: 55vh;
}

.calendly{
  height: 90vh;
}


/*section{
  margin-left: 10px;
  line-height: 1.2rem;
  text-align: justify;
  background-color: rgb(250, 250, 250, 0.8);
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}



*/



footer{
height:6vh;
background-color: #fed8ec;
vertical-align: center;
}

footer h2{
  text-align: center;
  padding-top:2vh;
}


/*Gallery*/

.container {
    width: 100vw;
    height: 85vh;
    display: inline-grid;
    grid-template-rows: 5fr 1fr;
    background: pink;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
}

.tab {
    width: calc(10vh + 8px);
    height: calc(10vh + 8px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: circle(50%);
    shape-outside: circle(50%);
    z-index: 0;
    transition: width 0.5s;
}

.tab img {
    width: 10vh;
    height: 10vh;
    z-index: 10;
    cursor: pointer;
    clip-path: circle(50%);
    shape-outside: circle(50%);
    transition: width 0.5s;
}

[type=radio] {
    display: none;
}

.preview-list {
    background: linear-gradient(
        #021919,
        #021919 var(--line-offset),
        #efefef var(--line-offset)
    );
}

.tab {
    background: linear-gradient(
        #efefef,
        #efefef var(--line-offset),
        #021919 var(--line-offset)
    );
}

[type=radio]:checked ~ label ~ .content{
    text-align: center;
    z-index: 8;
}


[type=radio]:checked ~ label .tab{
    width: 0;
}

content {
    position: absolute;
    background: #021919;
    left: 0;
    width: 100vw;
    height: 80vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.content img {
    height: 70vh;
    width: auto;
    margin: auto;
}
